setup/
data.txt
hello.txt
practice.txt
lib/
javaWorkspace/.metadata/
jdbcWorkspace/.metadata/
*.classpath
*.project
** /settings/
**/bin/
setup/
javaWorkspace/javaPrj/.settings/
jdbcWorkspace/jdbcPrj/.settings/
javaWorkspace/.gitignore
jdbcWorkspace/.gitignore
javaWorkspace/javaPrj/.gitignore
jdbcWorkspace/jdbcPrj/.gitignore
springRepo/springPrj01/.settings
springRepo/springPrj03/.settings
