.box{
    width : 100px;
    height: 100px;
    border:1px solid black;
}

.gray{
    background-color: gray;
}


/*속성 선택자*/

/* 일치하는 */
div[name=kh]{
    background-color: red;
}

/* 포함하는 (띄어쓰기 기준 단어 일치) */
div[name~=kh]{
    background-color: blue;
}

/* 시작하는 */
div[name^=k]{
    background-color: green;
}

/* 끝나는 */
div[name$=h]{
    background-color: gray;
}

/* 포함하는 */
div[name*=i]{
    background-color: brown;
}

/*----------------------------------------------*/

/* 자식, 후손 */
#test1 > h4 {
    background-color: red;
}

#test1>ul>h4{
    background-color: blue;
}

#test1 li{
    background-color: green;
}

/*----------------------------------------------*/

/* 동위 선택자 */

#test3{
    background-color: red;
}

#test3+div{
    background-color: blue;
}

/*
#test3~div{
    background-color: green;
}*/

/*----------------------------------------------*/

/* 반응 선택자 */

#test-hover:hover{
    background-color: purple;
}

/*----------------------------------------------*/

/* 상태 선택자 */ /* 뒤에 checked 붙이면 체크 표시하면 나타나는 특징!!!*/

input[type=checkbox]:checked{
    width: 100px;
    height: 100px;
}


input[type=text]:focus{
    background-color: rgb(193, 146, 208);
}

botton:disabled{
    border: 5px solid green;
}

/*----------------------------------------------*/

/* 일반 구조 선택자 */
#test6 > p:nth-child(even){
    background-color: red;
}

/*----------------------------------------------*/

/* 형태 구조 선택자 */

#test7 > p:nth-of-type(3n) {
    background-color: gray;
}

/*----------------------------------------------*/

/* 문자 선택자 */
#test8 > p::first-line {
    background-color: rgb(209, 161, 161);
}

#test8 > p::after{
    content: 'abcde';
}

/*----------------------------------------------*/

/* 부정 선택자 */
#test9 p:not(.kh) {
    background-color: red;
}











