<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

  <settings>
  	<setting name="jdbcTypeForNull" value="NULL"/>
  </settings>
  
  <!-- 별칭등록 -->
  <typeAliases>
  	<typeAlias type="com.ncs.test.member.model.vo.Member.MemberVo" alias="Member"/>
  	<typeAlias type="/WEB-INF/mybatis/mapper/member-mapper.xml" alias="mapper"/>
  </typeAliases>
  
</configuration>